<!DOCTYPE html>
<html>
<head>
	<title><h1>GET and POST Checker</h1></title>         
	<style>
		table{
			border: 1px solid black;
		}
        th, td {
			border: 1px solid black;
		}
	</style>
</head>

<body>
	{{{ body }}}
</body>
</html>
